In [ ]:
#Scrap data from web sources about per-capita income of Indian citizen
#different state-wise. Analyse them. Create Geographical chart differentiate
#with colours of per-capita Income.

In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import json
import plotly.express as px

In [7]:
import plotly.io as pio

In [8]:

get_table=pd.read_html("https://www.studyiq.com/articles/per-capita-income-of-india")

In [9]:
data=get_table[1]
data

,0,1,2
0,State/ UT,Per Capita Income (INR) 2020-21 (based on curr...,Per Capita Income ($) 2020-21 (based on curren...
1,Goa,"₹4,31,351","$5,821"
2,Sikkim,"₹4,12,754","$5,570"
3,Delhi,"₹3,44,136","$4,644"
4,Chandigarh,"₹2,92,977","$3,954"
5,Karnataka,"₹2,36,451","$3,191"
6,Haryana,"₹2,35,707","$3,181"
7,Telangana,"₹2,31,103","$3,119"
8,Gujarat,"₹2,12,821","$2,872"
9,Tamil Nadu,"₹2,12,174","$2,863"
10,Puducherry,"₹2,06,888","$2,792"
11,Kerala,"₹2,05,067","$2,767"
12,Maharashtra,"₹1,93,121","$2,606"
13,Arunachal Pradesh,"₹1,92,360","$2,596"
14,Himachal Pradesh,"₹1,83,333","$2,474"
15,Uttarakhand,"₹1,82,698","$2,466"
16,Andhra Pradesh,"₹1,76,707","$2,385"
17,Punjab,"₹1,49,894","$2,023"
18,India,"₹1,45,679","$1,966"
19,Mizoram,"₹1,44,394","$1,949"
20,Nagaland,"₹1,23,385","$1,665"
21,West Bengal,"₹1,21,267","$1,637"
22,Tripura,"₹1,19,789","$1,617"
23,Rajasthan,"₹1,15,933","$1,565"
24,Chhattisgarh,"₹1,04,943","$1,416"
25,Madhya Pradesh,"₹1,04,894","$1,416"
26,Jammu & Kashmir-UT,"₹1,02,803","$1,387"
27,Odisha,"₹1,01,501","$1,370"
28,Manipur,"₹87,832","$1,185"
29,Assam,"₹86,857","$1,172"
30,Meghalaya,"₹84,638","$1,142"
31,Jharkhand,"₹71,071",$959
32,Uttar Pradesh,"₹61,666",$832
33,Bihar,"₹43,605",$588

In [10]:
df=data.drop([0])
df

                     0          1       2
1                  Goa  ₹4,31,351  $5,821
2               Sikkim  ₹4,12,754  $5,570
3                Delhi  ₹3,44,136  $4,644
4           Chandigarh  ₹2,92,977  $3,954
5            Karnataka  ₹2,36,451  $3,191
6              Haryana  ₹2,35,707  $3,181
7            Telangana  ₹2,31,103  $3,119
8              Gujarat  ₹2,12,821  $2,872
9           Tamil Nadu  ₹2,12,174  $2,863
10          Puducherry  ₹2,06,888  $2,792
11              Kerala  ₹2,05,067  $2,767
12         Maharashtra  ₹1,93,121  $2,606
13   Arunachal Pradesh  ₹1,92,360  $2,596
14    Himachal Pradesh  ₹1,83,333  $2,474
15         Uttarakhand  ₹1,82,698  $2,466
16      Andhra Pradesh  ₹1,76,707  $2,385
17              Punjab  ₹1,49,894  $2,023
18               India  ₹1,45,679  $1,966
19             Mizoram  ₹1,44,394  $1,949
20            Nagaland  ₹1,23,385  $1,665
21         West Bengal  ₹1,21,267  $1,637
22             Tripura  ₹1,19,789  $1,617
23           Rajasthan  ₹1,15,933  $1,565
24        Chhattisgarh  ₹1,04,943  $1,416
25      Madhya Pradesh  ₹1,04,894  $1,416
26  Jammu & Kashmir-UT  ₹1,02,803  $1,387
27              Odisha  ₹1,01,501  $1,370
28             Manipur    ₹87,832  $1,185
29               Assam    ₹86,857  $1,172
30           Meghalaya    ₹84,638  $1,142
31           Jharkhand    ₹71,071    $959
32       Uttar Pradesh    ₹61,666    $832
33               Bihar    ₹43,605    $588

In [11]:
df.columns=['State/ UT','Per Capita Income (INR) 2020-21','Per Capita Income ($)2020-21']
print(df)

             State/ UT Per Capita Income (INR) 2020-21  \
1                  Goa                       ₹4,31,351
2               Sikkim                       ₹4,12,754
3                Delhi                       ₹3,44,136
4           Chandigarh                       ₹2,92,977
5            Karnataka                       ₹2,36,451
6              Haryana                       ₹2,35,707
7            Telangana                       ₹2,31,103
8              Gujarat                       ₹2,12,821
9           Tamil Nadu                       ₹2,12,174
10          Puducherry                       ₹2,06,888
11              Kerala                       ₹2,05,067
12         Maharashtra                       ₹1,93,121
13   Arunachal Pradesh                       ₹1,92,360
14    Himachal Pradesh                       ₹1,83,333
15         Uttarakhand                       ₹1,82,698
16      Andhra Pradesh                       ₹1,76,707
17              Punjab                       ₹1,49,894
18               India                       ₹1,45,679
19             Mizoram                       ₹1,44,394
20            Nagaland                       ₹1,23,385
21         West Bengal                       ₹1,21,267
22             Tripura                       ₹1,19,789
23           Rajasthan                       ₹1,15,933
24        Chhattisgarh                       ₹1,04,943
25      Madhya Pradesh                       ₹1,04,894
26  Jammu & Kashmir-UT                       ₹1,02,803
27              Odisha                       ₹1,01,501
28             Manipur                         ₹87,832
29               Assam                         ₹86,857
30           Meghalaya                         ₹84,638
31           Jharkhand                         ₹71,071
32       Uttar Pradesh                         ₹61,666
33               Bihar                         ₹43,605

   Per Capita Income ($)2020-21
1                        $5,821
2                        $5,570
3                        $4,644
4                        $3,954
5                        $3,191
6                        $3,181
7                        $3,119
8                        $2,872
9                        $2,863
10                       $2,792
11                       $2,767
12                       $2,606
13                       $2,596
14                       $2,474
15                       $2,466
16                       $2,385
17                       $2,023
18                       $1,966
19                       $1,949
20                       $1,665
21                       $1,637
22                       $1,617
23                       $1,565
24                       $1,416
25                       $1,416
26                       $1,387
27                       $1,370
28                       $1,185
29                       $1,172
30                       $1,142
31                         $959
32                         $832
33                         $588

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 1 to 33
Data columns (total 3 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   State/ UT                        33 non-null     object
 1   Per Capita Income (INR) 2020-21  33 non-null     object
 2   Per Capita Income ($)2020-21     33 non-null     object
dtypes: object(3)
memory usage: 924.0+ bytes

In [13]:
df.describe()

       State/ UT Per Capita Income (INR) 2020-21 Per Capita Income ($)2020-21
count         33                              33                           33
unique        33                              33                           32
top          Goa                       ₹4,31,351                       $1,416
freq           1                               1                            2

In [14]:
india_states=json.load(open('states_india.geojson','r'))
india_states['features'][0]

{'type': 'Feature',
 'geometry': {'type': 'MultiPolygon',
  'coordinates': [[[[78.34088, 19.883615],
     [78.351327, 19.88184],
     [78.370422, 19.883346],
     [78.379149, 19.879733],
     [78.388848, 19.879703],
     [78.389673, 19.874372],
     [78.388883, 19.864121],
     [78.390691, 19.856213],
     [78.390645, 19.853215],
     [78.39395, 19.846705],
     [78.402384, 19.836943],
     [78.413779, 19.830435],
     [78.433447, 19.8237],
     [78.449385, 19.819844],
     [78.469482, 19.816847],
     [78.481036, 19.817011],
     [78.489156, 19.807863],
     [78.494337, 19.799196],
     [78.498808, 19.793852],
     [78.508559, 19.793125],
     [78.514515, 19.801887],
     [78.517292, 19.814976],
     [78.52413, 19.820588],
     [78.531195, 19.822351],
     [78.562889, 19.81634],
     [78.57869, 19.814543],
     [78.590001, 19.81245],
     [78.596781, 19.816171],
     [78.600308, 19.818109],
     [78.608696, 19.818273],
     [78.6194, 19.814049],
     [78.624399, 19.809511],
     [78.640296, 19.804603],
     [78.653437, 19.802299],
     [78.691529, 19.790835],
     [78.701092, 19.790606],
     [78.706982, 19.78649],
     [78.714397, 19.773648],
     [78.721678, 19.767761],
     [78.729945, 19.769936],
     [78.737084, 19.773814],
     [78.743584, 19.780392],
     [78.748327, 19.780624],
     [78.757511, 19.778269],
     [78.768503, 19.776623],
     [78.778502, 19.780361],
     [78.790189, 19.779758],
     [78.802269, 19.769614],
     [78.808521, 19.761128],
     [78.812958, 19.759054],
     [78.822503, 19.761473],
     [78.830649, 19.761452],
     [78.843675, 19.763165],
     [78.84972, 19.760103],
     [78.851016, 19.759449],
     [78.858979, 19.739141],
     [78.862331, 19.732457],
     [78.862815, 19.720906],
     [78.867081, 19.707098],
     [78.868905, 19.697974],
     [78.869422, 19.687921],
     [78.868641, 19.680728],
     [78.864552, 19.670156],
     [78.864228, 19.657568],
     [78.883413, 19.658081],
     [78.896459, 19.656564],
     [78.90928, 19.665855],
     [78.921413, 19.669038],
     [78.940524, 19.663513],
     [78.949131, 19.666484],
     [78.959753, 19.664763],
     [78.967233, 19.660136],
     [78.97453, 19.650617],
     [78.97358, 19.640775],
     [78.970252, 19.630965],
     [78.968443, 19.618754],
     [78.971208, 19.605964],
     [78.976928, 19.598729],
     [78.983909, 19.591905],
     [78.986123, 19.586583],
     [78.983456, 19.581438],
     [78.974578, 19.574955],
     [78.970286, 19.571788],
     [78.960037, 19.564221],
     [78.955135, 19.558982],
     [78.960139, 19.553351],
     [78.970447, 19.551861],
     [78.979141, 19.551441],
     [78.98409, 19.552469],
     [78.991979, 19.558593],
     [78.998479, 19.563587],
     [79.001214, 19.562576],
     [79.005712, 19.56093],
     [79.017847, 19.545361],
     [79.024018, 19.541568],
     [79.044514, 19.546619],
     [79.057234, 19.546907],
     [79.065829, 19.540379],
     [79.069113, 19.532919],
     [79.079598, 19.530277],
     [79.1024, 19.532185],
     [79.108638, 19.529668],
     [79.108135, 19.521095],
     [79.110536, 19.514481],
     [79.118614, 19.511541],
     [79.132272, 19.50826],
     [79.146097, 19.502911],
     [79.16284, 19.487392],
     [79.174978, 19.469654],
     [79.183689, 19.46259],
     [79.194947, 19.460624],
     [79.22466, 19.466447],
     [79.228883, 19.469741],
     [79.226629, 19.477517],
     [79.214705, 19.486702],
     [79.212781, 19.493558],
     [79.214002, 19.500534],
     [79.221639, 19.512457],
     [79.229364, 19.518877],
     [79.237932, 19.522609],
     [79.242575, 19.528668],
     [79.244303, 19.534625],
     [79.245294, 19.543897],
     [79.244103, 19.55277],
     [79.24571, 19.561308],
     [79.256049, 19.57949],
     [79.254619, 19.588651],
     [79.249726, 19.595113],
     [79.243634, 19.601304],
     [79.243023, 19.611234],
     [79.249805, 19.614291],
     [79.261168, 19.612966],
     [79.273829, 19.608448],
     [79.299221, 19.598547],
     [79.310843, 19.591996],
     [79.315642, 19.583876],
     [79.320286, 19.567421],
     [79.327529, 19.573643],
     [79.335719, 19.575582],
     [79.346936, 19.575682],
     [79.375117, 19.573178],
     [79.377285, 19.563513],
     [79.386819, 19.557837],
     [79.395096, 19.550926],
     [79.407979, 19.541862],
     [79.419761, 19.535536],
     [79.429347, 19.534911],
     [79.436447, 19.537173],
     [79.447447, 19.5356],
     [79.464392, 19.521088],
     [79.471345, 19.511164],
     [79.476658, 19.499625],
     [79.486284, 19.505997],
     [79.499563, 19.507388],
     [79.51968, 19.520266],
     [79.522111, 19.524553],
     [79.522231, 19.538987],
     [79.521091, 19.54292],
     [79.521254, 19.544117],
     [79.532497, 19.548227],
     [79.54128, 19.550247],
     [79.548958, 19.550705],
     [79.551042, 19.544903],
     [79.551502, 19.536212],
     [79.554002, 19.528306],
     [79.558811, 19.522282],
     [79.571932, 19.513174],
     [79.579781, 19.508929],
     [79.589013, 19.505347],
     [79.597697, 19.504046],
     [79.604424, 19.506085],
     [79.607216, 19.510263],
     [79.608805, 19.51683],
     [79.609309, 19.52337],
     [79.613572, 19.541733],
     [79.617268, 19.551439],
     [79.622176, 19.560879],
     [79.627763, 19.567353],
     [79.646103, 19.577255],
     [79.659015, 19.578958],
     [79.671471, 19.579447],
     [79.684435, 19.57886],
     [79.691214, 19.581465],
     [79.702126, 19.583407],
     [79.711565, 19.583543],
     [79.719383, 19.585657],
     [79.736376, 19.598899],
     [79.746805, 19.605472],
     [79.76075, 19.60467],
     [79.77279, 19.602519],
     [79.784049, 19.60006],
     [79.791952, 19.595987],
     [79.792831, 19.59205],
     [79.799832, 19.582514],
     [79.811771, 19.579209],
     [79.817657, 19.576299],
     [79.823154, 19.571483],
     [79.826115, 19.563983],
     [79.827186, 19.554849],
     [79.829728, 19.546827],
     [79.8348, 19.539544],
     [79.862842, 19.519719],
     [79.870417, 19.516216],
     [79.876844, 19.507598],
     [79.884866, 19.503359],
     [79.908911, 19.49918],
     [79.917712, 19.495049],
     [79.924485, 19.488273],
     [79.930245, 19.480333],
     [79.939579, 19.471891],
     [79.943989, 19.469739],
     [79.946912, 19.467299],
     [79.951718, 19.461633],
     [79.952922, 19.453759],
     [79.952487, 19.443621],
     [79.965989, 19.428786],
     [79.976763, 19.412381],
     [79.979804, 19.403952],
     [79.979358, 19.394531],
     [79.977516, 19.385082],
     [79.974009, 19.377548],
     [79.973298, 19.363879],
     [79.971294, 19.353685],
     [79.963922, 19.337592],
     [79.964153, 19.327502],
     [79.970423, 19.309622],
     [79.968578, 19.300578],
     [79.955728, 19.291952],
     [79.95196, 19.287226],
     [79.938692, 19.262435],
     [79.926948, 19.229569],
     [79.926118, 19.218198],
     [79.929295, 19.206607],
     [79.942065, 19.187096],
     [79.949254, 19.179151],
     [79.950039, 19.173881],
     [79.947526, 19.167685],
     [79.932946, 19.164212],
     [79.929122, 19.160405],
     [79.912778, 19.145069],
     [79.877975, 19.12597],
     [79.869893, 19.119096],
     [79.864814, 19.10739],
     [79.866839, 19.094269],
     [79.867891, 19.063315],
     [79.8638, 19.04559],
     [79.866373, 19.038035],
     [79.877829, 19.038961],
     [79.887913, 19.044807],
     [79.897678, 19.048874],
     [79.909775, 19.051416],
     [79.922955, 19.050811],
     [79.932841, 19.045964],
     [79.939931, 19.03319],
     [79.941356, 19.025213],
     [79.939661, 18.999263],
     [79.938235, 18.978385],
     [79.939096, 18.975182],
     [79.942793, 18.961263],
     [79.947856, 18.941327],
     [79.948267, 18.919477],
     [79.947062, 18.900477],
     [79.947899, 18.881156],
     [79.945944, 18.862689],
     [79.940283, 18.848851],
     [79.932454, 18.841361],
     [79.92777, 18.840019],
     [79.911027, 18.838674],
     [79.900918, 18.834639],
     [79.916052, 18.810539],
     [79.923223, 18.801214],
     [79.938959, 18.788346],
     [79.947064, 18.785715],
     [79.957153, 18.783862],
     [79.988575, 18.778272],
     [79.999966, 18.777536],
     [80.01615, 18.772623],
     [80.019407, 18.770813],
     [80.021566, 18.764189],
     [80.023606, 18.761087],
     [80.025794, 18.755094],
     [80.036744, 18.7528],
     [80.039956, 18.750556],
     [80.053476, 18.725084],
     [80.060387, 18.721983],
     [80.069036, 18.72071],
     [80.072628, 18.717471],
     [80.075053, 18.712933],
     [80.081863, 18.706799],
     [80.086061, 18.705586],
     [80.089271, 18.706701],
     [80.091614, 18.705098],
     [80.094116, 18.701828],
     [80.107749, 18.689266],
     [80.113756, 18.681845],
     [80.11801, 18.680523],
     [80.123195, 18.680193],
     [80.125624, 18.683464],
     [80.128503, 18.685547],
     [80.138075, 18.68975],
     [80.143813, 18.691153],
     [80.149484, 18.690611],
     [80.155955, 18.697601],
     [80.159441, 18.699645],
     [80.165326, 18.700307],
     [80.169233, 18.6984],
     [80.171874, 18.694679],
     [80.174653, 18.684472],
     [80.178224, 18.681754],
     [80.182904, 18.680324],
     [80.196214, 18.68002],
     [80.19822, 18.683403],
     [80.198927, 18.688064],
     [80.201366, 18.692949],
     [80.209172, 18.701861],
     [80.215152, 18.704881],
     [80.221634, 18.705555],
     [80.227293, 18.703631],
     [80.23262, 18.700601],
     [80.237272, 18.701989],
     [80.24285, 18.704872],
     [80.248996, 18.704679],
     [80.25396, 18.705783],
     [80.267674, 18.718564],
     [80.274848, 18.722437],
     [80.278229, 18.71798],
     [80.285223, 18.715455],
     [80.296174, 18.69954],
     [80.303668, 18.690202],
     [80.306802, 18.683787],
     [80.315181, 18.656915],
     [80.322387, 18.640966],
     [80.326719, 18.626435],
     [80.338886, 18.601367],
     [80.34411, 18.595298],
     [80.346225, 18.592999],
     [80.349288, 18.591235],
     [80.355968, 18.593292],
     [80.360346, 18.595745],
     [80.363392, 18.598513],
     [80.364944, 18.603145],
     [80.367177, 18.606976],
     [80.369967, 18.608541],
     [80.374394, 18.609452],
     [80.377984, 18.607867],
     [80.389028, 18.598436],
     [80.396862, 18.604099],
     [80.400725, 18.607802],
     [80.409567, 18.612017],
     [80.423483, 18.613645],
     [80.425048, 18.615579],
     [80.457706, 18.631218],
     [80.470511, 18.627588],
     [80.475263, 18.627702],
     [80.479691, 18.628593],
     [80.487578, 18.632554],
     [80.490999, 18.633029],
     [80.495913, 18.631648],
     [80.505669, 18.62261],
     [80.51825, 18.620644],
     [80.521387, 18.618123],
     [80.522808, 18.612295],
     [80.525565, 18.60845],
     [80.529365, 18.605771],
     [80.536121, 18.598737],
     [80.536885, 18.594854],
     [80.539581, 18.591119],
     [80.548033, 18.588019],
     [80.565396, 18.577876],
     [80.569565, 18.574688],
     [80.57557, 18.566598],
     [80.589088, 18.562618],
     [80.603211, 18.554284],
     [80.60862, 18.550253],
     [80.611686, 18.545951],
     [80.618492, 18.538785],
     [80.621523, 18.531319],
     [80.628997, 18.528416],
     [80.634662, 18.523468],
     [80.640358, 18.524154],
     [80.642674, 18.520633],
     [80.644102, 18.512566],
     [80.6412, 18.508491],
     [80.642284, 18.50398],
     [80.644514, 18.499313],
     [80.65597, 18.484482],
     [80.658499, 18.477699],
     [80.670102, 18.471191],
     [80.673853, 18.468097],
     [80.677558, 18.466672],
     [80.680942, 18.463792],
     [80.681893, 18.461802],
     [80.688274, 18.459043],
     [80.690231, 18.455519],
     [80.69086, 18.450141],
     [80.699686, 18.445981],
     [80.702739, 18.44631],
     [80.706659, 18.441556],
     [80.703029, 18.440122],
     [80.700413, 18.434411],
     [80.698793, 18.42493],
     [80.720845, 18.411347],
     [80.726089, 18.415429],
     [80.730284, 18.415949],
     [80.734354, 18.414626],
     [80.736593, 18.409447],
     [80.734946, 18.405644],
     [80.731819, 18.400911],
     [80.723547, 18.392951],
     [80.724076, 18.388608],
     [80.726455, 18.384923],
     [80.730573, 18.381493],
     [80.732058, 18.37768],
     [80.730895, 18.373607],
     [80.730583, 18.36703],
     [80.734233, 18.35599],
     [80.742639, 18.344461],
     [80.750801, 18.327976],
     [80.752311, 18.322686],
     [80.75315, 18.310946],
     [80.752495, 18.308033],
     [80.759221, 18.303349],
     [80.760814, 18.297155],
     [80.764946, 18.290614],
     [80.767394, 18.288487],
     [80.771135, 18.287638],
     [80.774288, 18.284162],
     [80.781329, 18.270897],
     [80.78535, 18.26572],
     [80.789556, 18.265571],
     [80.792842, 18.264087],
     [80.796055, 18.26005],
     [80.796219, 18.255788],
     [80.795209, 18.252579],
     [80.792227, 18.24929],
     [80.777325, 18.242409],
     [80.764827, 18.23551],
     [80.741204, 18.224784],
     [80.740204, 18.21147],
     [80.740483, 18.20023],
     [80.742516, 18.177793],
     [80.753036, 18.170941],
     [80.770385, 18.169107],
     [80.794911, 18.170345],
     [80.805942, 18.17247],
     [80.818851, 18.18465],
     [80.818685, 18.189426],
     [80.825914, 18.19328],
     [80.826773, 18.198183],
     [80.825728, 18.218888],
     [80.826318, 18.225145],
     [80.825158, 18.231309],
     [80.826895, 18.237071],
     [80.832179, 18.239671],
     [80.837567, 18.240218],
     [80.842209, 18.239391],
     [80.84761, 18.234161],
     [80.867097, 18.23215],
     [80.869763, 18.227841],
     [80.875507, 18.213461],
     [80.875281, 18.209389],
     [80.87365, 18.207203],
     [80.869313, 18.204906],
     [80.864528, 18.204639],
     [80.857174, 18.206417],
     [80.856208, 18.203851],
     [80.856954, 18.19939],
     [80.860259, 18.189707],
     [80.860657, 18.184731],
     [80.859707, 18.174612],
     [80.863838, 18.157974],
     [80.863322, 18.153083],
     [80.863816, 18.149237],
     [80.866445, 18.145442],
     [80.869663, 18.142798],
     [80.870077, 18.139007],
     [80.889181, 18.138896],
     [80.901018, 18.140827],
     [80.908823, 18.141059],
     [80.920089, 18.144901],
     [80.940076, 18.1558],
     [80.943916, 18.158936],
     [80.944809, 18.161197],
     [80.952311, 18.163489],
     [80.957954, 18.170625],
     [80.962278, 18.173379],
     [80.973652, 18.174769],
     [80.981787, 18.174569],
     [80.981802, 18.173669],
     [80.981948, 18.164741],
     [80.982899, 18.158377],
     [80.980726, 18.150018],
     [80.975668, 18.144464],
     [80.957464, 18.129657],
     [80.955664, 18.123329],
     [80.957932, 18.110198],
     [80.957973, 18.104844],
     [80.956504, 18.097801],
     [80.954122, 18.09078],
     [80.952115, 18.087566],
     [80.960594, 18.078452],
     [80.971678, 18.056408],
     [80.974151, 18.050119],
     [80.970457, 18.038195],
     [80.970833, 18.037839],
     [80.972073, 18.031121],
     [80.974369, 18.025297],
     [80.976644, 18.018503],
     [80.978118, 18.009795],
     [80.979732, 18.004115],
     [80.980846, 17.999934],
     [80.982052, 17.983591],
     [80.986298, 17.956471],
     [80.98806, 17.952578],
     [80.988833, 17.946718],
     [80.99156, 17.941824],
     [80.992906, 17.9298],
     [81.000235, 17.926283],
     [81.002629, 17.92116],
     [81.010182, 17.871758],
     [81.012671, 17.845438],
     [81.020933, 17.823812],
     [81.040834, 17.796949],
     [81.046042, 17.793473],
     [81.053633, 17.791232],
     [81.064373, 17.790091],
     [81.074224, 17.791511],
     [81.082006, 17.793575],
     [81.087965, 17.802243],
     [81.095485, 17.81061],
     [81.09749, 17.818118],
     [81.106099, 17.824356],
     [81.117424, 17.830389],
     [81.129657, 17.835601],
     [81.167961, 17.859916],
     [81.184796, 17.856437],
     [81.192202, 17.856594],
     [81.200379, 17.854441],
     [81.221923, 17.840445],
     [81.228805, 17.836761],
     [81.236362, 17.833731],
     [81.262521, 17.819624],
     [81.271848, 17.817976],
     [81.306607, 17.817401],
     [81.323556, 17.819916],
     [81.33448, 17.820012],
     [81.343871, 17.818864],
     [81.353035, 17.819206],
     [81.366013, 17.81808],
     [81.376126, 17.815759],
     [81.38295, 17.813004],
     [81.392649, 17.811185],
     [81.393506, 17.814285],
     [81.402835, 17.815816],
     [81.411304, 17.813037],
     [81.417793, 17.812569],
     [81.422993, 17.81784],
     [81.42288, 17.824153],
     [81.427952, 17.828314],
     [81.434456, 17.829007],
     [81.44241, 17.823504],
     [81.446106, 17.823042],
     [81.467986, 17.832468],
     [81.47539, 17.832696],
     [81.47865, 17.830959],
     [81.481274, 17.825689],
     [81.483139, 17.817817],
     [81.487274, 17.812543],
     [81.489741, 17.810683],
     [81.494409, 17.810452],
     [81.50489, 17.814327],
     [81.51988, 17.814431],
     [81.534301, 17.818756],
     [81.562514, 17.824285],
     [81.573171, 17.833598],
     [81.577316, 17.835792],
     [81.583441, 17.835268],
     [81.602534, 17.827075],
     [81.608324, 17.823424],
     [81.619728, 17.823354],
     [81.624293, 17.83],
     [81.63257, 17.832422],
     [81.640037, 17.838433],
     [81.645141, 17.844273],
     [81.651362, 17.847275],
     [81.654721, 17.854853],
     [81.654582, 17.864236],
     [81.657627, 17.870429],
     [81.66127, 17.876146],
     [81.665508, 17.880774],
     [81.671622, 17.884875],
     [81.676616, 17.886371],
     [81.686324, 17.885548],
     [81.691804, 17.887448],
     [81.696846, 17.892765],
     [81.706457, 17.883538],
     [81.707846, 17.877748],
     [81.711753, 17.86917],
     [81.734904, 17.882144],
     [81.766859, 17.901407],
     [81.771994, 17.893468],
     [81.777441, 17.886796],
     [81.790041, 17.878842],
     [81.796141, 17.870666],
     [81.801371, 17.860696],
     [81.80301, 17.85235],
     [81.796461, 17.847438],
     [81.790972, 17.840155],
     [81.772556, 17.838112],
     [81.761563, 17.826503],
     [81.747524, 17.829768],
     [81.738208, 17.82747],
     [81.732037, 17.823374],
     [81.718138, 17.813266],
     [81.712619, 17.807723],
     [81.706865, 17.792675],
     [81.700035, 17.783893],
     [81.693428, 17.778749],
     [81.683318, 17.775291],
     [81.661641, 17.773767],
     [81.650537, 17.773777],
     [81.631697, 17.770911],
     [81.627223, 17.766693],
     [81.621459, 17.755061],
     [81.617846, 17.751772],
     [81.590595, 17.738779],
     [81.585273, 17.734212],
     [81.581615, 17.726798],
     [81.580634, 17.719972],
     [81.579743, 17.711055],
     [81.579837, 17.696059],
     [81.576871, 17.691029],
     [81.568863, 17.684841],
     [81.562329, 17.674598],
     [81.554775, 17.658921],
     [81.553014, 17.653537],
     [81.542859, 17.638666],
     [81.527653, 17.62704],
     [81.520585, 17.618131],
     [81.517981, 17.611822],
     [81.517991, 17.606609],
     [81.516625, 17.603601],
     [81.511659, 17.598163],
     [81.521408, 17.59127],
     [81.529645, 17.584079],
     [81.532635, 17.580956],
     [81.532483, 17.578061],
     [81.529045, 17.572967],
     [81.522492, 17.565619],
     [81.51786, 17.557691],
     [81.51019, 17.547736],
     [81.508232, 17.539928],
     [81.506802, 17.518502],
     [81.508294, 17.509989],
     [81.50697, 17.498473],
     [81.502419, 17.485508],
     [81.502554, 17.47451],
     [81.504675, 17.468895],
     [81.504182, 17.462346],
     [81.502254, 17.457368],
     [81.490831, 17.440763],
     [81.48108, 17.428094],
     [81.466102, 17.413975],
     [81.460408, 17.406913],
     [81.454946, 17.399276],
     [81.450374, 17.390304],
     [81.442506, 17.383535],
     [81.428978, 17.380762],
     [81.427171, 17.37497],
     [81.42452, 17.370226],
     [81.415321, 17.369997],
     [81.394075, 17.363695],
     [81.380661, 17.365717],
     [81.372819, 17.368787],
     [81.358677, 17.377003],
     [81.35214, 17.38418],
     [81.35175, 17.393855],
     [81.346159, 17.398427],
     [81.339158, 17.400511],
     [81.333519, 17.399058],
     [81.331284, 17.397554],
     [81.320446, 17.383203],
     [81.310444, 17.36816],
     [81.307651, 17.360583],
     [81.298019, 17.346008],
     [81.290635, 17.338218],
     [81.276024, 17.32846],
     [81.271078, 17.330387],
     [81.266364, 17.331096],
     [81.243124, 17.331224],
     [81.227564, 17.330119],
     [81.199113, 17.335696],

In [15]:
india_states['features'][0].keys()

dict_keys(['type', 'geometry', 'properties'])

In [16]:
state_id={}
for feature in india_states['features']:
    feature['id']=feature['properties']['state_code']
    state_id[feature['properties']['st_nm']]=feature['id']

In [17]:
state_id

{'Telangana': 0,
 'Andaman & Nicobar Island': 35,
 'Andhra Pradesh': 28,
 'Arunanchal Pradesh': 12,
 'Assam': 18,
 'Bihar': 10,
 'Chhattisgarh': 22,
 'Daman & Diu': 25,
 'Goa': 30,
 'Gujarat': 24,
 'Haryana': 6,
 'Himachal Pradesh': 2,
 'Jammu & Kashmir': 1,
 'Jharkhand': 20,
 'Karnataka': 29,
 'Kerala': 32,
 'Lakshadweep': 31,
 'Madhya Pradesh': 23,
 'Maharashtra': 27,
 'Manipur': 14,
 'Chandigarh': 4,
 'Puducherry': 34,
 'Punjab': 3,
 'Rajasthan': 8,
 'Sikkim': 11,
 'Tamil Nadu': 33,
 'Tripura': 16,
 'Uttar Pradesh': 9,
 'Uttarakhand': 5,
 'West Bengal': 19,
 'Odisha': 21,
 'Dadara & Nagar Havelli': 26,
 'Meghalaya': 17,
 'Mizoram': 15,
 'Nagaland': 13,
 'NCT of Delhi': 7}

In [18]:
#
#df.head()
df['id']=df['State/ UT'].apply(lambda x: state_id.get(x,7))
df

,State/ UT,Per Capita Income (INR) 2020-21,Per Capita Income ($)2020-21,id
1,Goa,"₹4,31,351","$5,821",30
2,Sikkim,"₹4,12,754","$5,570",11
3,Delhi,"₹3,44,136","$4,644",7
4,Chandigarh,"₹2,92,977","$3,954",4
5,Karnataka,"₹2,36,451","$3,191",29
6,Haryana,"₹2,35,707","$3,181",6
7,Telangana,"₹2,31,103","$3,119",0
8,Gujarat,"₹2,12,821","$2,872",24
9,Tamil Nadu,"₹2,12,174","$2,863",33
10,Puducherry,"₹2,06,888","$2,792",34
11,Kerala,"₹2,05,067","$2,767",32
12,Maharashtra,"₹1,93,121","$2,606",27
13,Arunachal Pradesh,"₹1,92,360","$2,596",7
14,Himachal Pradesh,"₹1,83,333","$2,474",2
15,Uttarakhand,"₹1,82,698","$2,466",5
16,Andhra Pradesh,"₹1,76,707","$2,385",28
17,Punjab,"₹1,49,894","$2,023",3
18,India,"₹1,45,679","$1,966",7
19,Mizoram,"₹1,44,394","$1,949",15
20,Nagaland,"₹1,23,385","$1,665",13
21,West Bengal,"₹1,21,267","$1,637",19
22,Tripura,"₹1,19,789","$1,617",16
23,Rajasthan,"₹1,15,933","$1,565",8
24,Chhattisgarh,"₹1,04,943","$1,416",22
25,Madhya Pradesh,"₹1,04,894","$1,416",23
26,Jammu & Kashmir-UT,"₹1,02,803","$1,387",7
27,Odisha,"₹1,01,501","$1,370",21
28,Manipur,"₹87,832","$1,185",14
29,Assam,"₹86,857","$1,172",18
30,Meghalaya,"₹84,638","$1,142",17
31,Jharkhand,"₹71,071",$959,20
32,Uttar Pradesh,"₹61,666",$832,9
33,Bihar,"₹43,605",$588,10

In [19]:
df.drop(index=[18],axis=0,inplace=True)

In [20]:
df.at[26,'id']=1
df.at[13,'id']=12
df

#df.drop(index=[17],axis=0,inplace=True)

,State/ UT,Per Capita Income (INR) 2020-21,Per Capita Income ($)2020-21,id
1,Goa,"₹4,31,351","$5,821",30
2,Sikkim,"₹4,12,754","$5,570",11
3,Delhi,"₹3,44,136","$4,644",7
4,Chandigarh,"₹2,92,977","$3,954",4
5,Karnataka,"₹2,36,451","$3,191",29
6,Haryana,"₹2,35,707","$3,181",6
7,Telangana,"₹2,31,103","$3,119",0
8,Gujarat,"₹2,12,821","$2,872",24
9,Tamil Nadu,"₹2,12,174","$2,863",33
10,Puducherry,"₹2,06,888","$2,792",34
11,Kerala,"₹2,05,067","$2,767",32
12,Maharashtra,"₹1,93,121","$2,606",27
13,Arunachal Pradesh,"₹1,92,360","$2,596",12
14,Himachal Pradesh,"₹1,83,333","$2,474",2
15,Uttarakhand,"₹1,82,698","$2,466",5
16,Andhra Pradesh,"₹1,76,707","$2,385",28
17,Punjab,"₹1,49,894","$2,023",3
19,Mizoram,"₹1,44,394","$1,949",15
20,Nagaland,"₹1,23,385","$1,665",13
21,West Bengal,"₹1,21,267","$1,637",19
22,Tripura,"₹1,19,789","$1,617",16
23,Rajasthan,"₹1,15,933","$1,565",8
24,Chhattisgarh,"₹1,04,943","$1,416",22
25,Madhya Pradesh,"₹1,04,894","$1,416",23
26,Jammu & Kashmir-UT,"₹1,02,803","$1,387",1
27,Odisha,"₹1,01,501","$1,370",21
28,Manipur,"₹87,832","$1,185",14
29,Assam,"₹86,857","$1,172",18
30,Meghalaya,"₹84,638","$1,142",17
31,Jharkhand,"₹71,071",$959,20
32,Uttar Pradesh,"₹61,666",$832,9
33,Bihar,"₹43,605",$588,10

In [21]:
fig=px.choropleth(df,
             locations='id',
             geojson='india_states',
             color='Per Capita Income (INR) 2020-21',
             hover_name='State/ UT',
             
             )
fig.update_goes(fitbounds='locations',visible=False)
fig.show(renderers='google-chrome')

AttributeError: 'Figure' object has no attribute 'update_goes'